# Core dependencies
torch==2.1.2+cu121  # Changed to CUDA 12.1
torchaudio==2.1.2+cu121
torchvision==0.16.2+cu121
numpy==1.26.3
ffmpeg_python==0.2.0
pandas==2.2.2

# Pyannote stack
pyannote.audio==3.1.1
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1

# Hugging Face
huggingface_hub==0.22.2
transformers==4.38.2

# Whisper
whisperx==3.1.0

# FastAPI stack
python-dotenv==1.0.1
httpx==0.26.0
python-multipart==0.0.6
fastapi==0.109.0
uvicorn==0.27.0

# GPU acceleration
onnxruntime-gpu==1.18.1